PORT=3004
NODE_ENV=development

DATABASE_URL=postgresql://cobrai:cobrai_dev@localhost:5433/cobrai_dev?schema=public
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=service-payments

# Conekta [opcional]
CONEKTA_PRIVATE_KEY=
CONEKTA_WEBHOOK_SECRET=

# Mercado Pago [opcional]
MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=

PAYMENT_LINK_BASE_URL=http://localhost:3001/pay
